<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>제품 목록</h1>
    {% for product in products %}

    <a href="{% url 'products:detail' product.pk %}">
        <p>{{product.name_en}}</p>
    </a>
    {% comment %} <img src="{{product.photo_set.first.image.url}}" alt="이미지" /> {% endcomment %}

    {% for product_image in product.photo_set.all %}
    <img src="{{ product_image.image.url }}" style="width:100px;" alt="상품사진" />
    {% endfor %}

    <p></p>
    {% endfor %}
    {{page}}
    {% comment %} {{page_count}} 파이썬{% endcomment %} 
    {{products.paginator.num_pages}} {%comment %} 장고용 {%endcomment%}


    {% comment %} 제너릭뷰용 버튼 {% endcomment %}
    <h3> {{page_obj}} </h3>
    <h3> {{page_obj.paginator.num_pages}} 전체페이지 </h3>
    <h3> {{page_obj.number}} 현재 페이지</h3>

    {% if page_obj.has_previous %}
    <a href="?page={{page_obj.number|add:'-1'}}">Previews1</a>
    {% endif %}
    {% if page_obj.has_next %}
    <a href="?page={{page_obj.number|add:'1'}}">Next1</a>
    {% endif %}

    <br>

    {%comment %} 버튼 {%endcomment%}
    {% comment %} {% if page != 1 %}
    <a href="?page={{page|add:'-1'}}">Previews</a>
    {% endif %}
    {% if page != products.paginator.num_pages  %}
    <a href="?page={{page|add:"1"}}">Next</a>
    {% endif %}
    <h1>
        {{now}}
        {{hans}}
    </h1> {% endcomment %}

</body>

</html>