<header>
    <div class="gnb-top">
      <ul class="top-items">
        <li class="top-item"><a href="">고객센터</a></li>
        <li class="top-item"><a href="">관심상품</a></li>
        <li class="top-item"><a href="">마이페이지</a></li>
        <li class="top-item"><a href="">로그인</a></li>
      </ul>
    </div>

    <div class="gnb_bottom">
      <div class="gnb_bottom_logo">
        <a href="">
          <img src="/static/style/kream.png" alt="logo" />
        </a>
      </div>
      <ul class="under-items">
        <li class="under-item"><a href="">STYLE</a></li>
        <li class="under-item"><a href="">SHOP</a></li>
        <li class="under-item"><a href="">ABOUT</a></li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="28"
            height="28"
            fill="gray"
          >
            <path
              fill-rule="evenodd"
              d="M14.53 15.59a8.25 8.25 0 111.06-1.06l5.69 5.69a.75.75 0 11-1.06 1.06l-5.69-5.69zM2.5 9.25a6.75 6.75 0 1111.74 4.547.746.746 0 00-.443.442A6.75 6.75 0 012.5 9.25z"
            ></path> <!-- 돋보기 아이콘-->
          </svg>
        </li>
      </ul>
    </div>
  </header>
